BLOG_ENV_ID=local
BLOG_SECRET_KEY=secretkey12345678
BLOG_ADMIN_URL=admin/
BLOG_POSTGRES_DB=blog
BLOG_POSTGRES_USER=blog
BLOG_POSTGRES_PASSWORD=blogpassword
BLOG_POSTGRES_HOST=localhost
BLOG_POSTGRES_PORT=5432